# 한국투자증권 open API intro
mojito라는 module 이용:
`pip install mojito2`

[한국투자증권 open API](https://apiportal.koreainvestment.com/apiservice/apiservice-domestic-stock-information#L_00589d46-b8fe-4329-a20e-50dfe05f0d82)

## 증권사 객체 생성

이런식으로 직접 코드에다가 필요한 정보를 저장 가능
```python
api_key = "YOUR_KIS_API_KEY"
secret_key = "YOUR_KIS_SECRET_KEY"
acc_no = "YOUR_KIS_ACCOUNT_NUMBER"
```

하지만 api key, 계좌번호 등은 중요한 정보이므로 외부 파일에 저장하는 것을 추천 
- github에 업로드 할거면 꼭 .gitignore에 추가해 실수로 업로드하는 것을 방지
- 아래 코드는 `./kis_keys.txt` 파일에 저장된 정보를 읽어서 사용

In [43]:
import mojito

api_text = open('./kis_keys.txt', 'r')
lines = api_text.readlines()

# 필요한 정보를 불러옴
# TODO: 필요한 정보 가져오기
api_text.close()

broker = mojito.KoreaInvestment(
    api_key= , 
    api_secret= ,
    acc_no= , # 계좌번호 - 가 꼭 있어야함! (ex: 12341234-01)
    mock=  # 모의 투자 계좌 사용 여부
)

print(broker) # 증권사 객체 출력

<mojito.koreainvestment.KoreaInvestment object at 0x11fb767f0>

# 종목 코드 조회하기
함수:
```python
fetch_symbols()
```
- 종목 코드를 조회 가능
- ret val: pandas dataframe

group code 의미:
| 그룹코드 | 의미               |
|----------|--------------------|
| ST       | 주권               |
| MF       | 증권투자회사       |
| RT       | 부동산투자회사     |
| SC       | 선박투자회사       |
| IF       | 사회간접자본투융자회사 |
| DR       | 주식예탁증서       |
| EW       | ELW                |
| EF       | ETF                |
| SW       | 신주인수권증권     |
| SR       | 신주인수권증서     |
| BC       | 수익증권           |
| FE       | 해외ETF            |
| FS       | 외국주권           |

In [17]:
symbols = broker.fetch_symbols() # 전체 종목 코드 조회
symbols

           단축코드              한글명 그룹코드   시장
0     F70100001    한투글로벌신성장2호(A)   BC  코스피
1     F70100002    한투글로벌신성장1호(A)   BC  코스피
2     F70100003  한투글로벌신성장1호(A-e)   BC  코스피
3     F70100004  한투글로벌신성장2호(A-e)   BC  코스피
4     F70100005  한투글로벌AI빅테크1호(A)   BC  코스피
...         ...              ...  ...  ...
1738     900280            골든센츄리   FS  코스닥
1739     900120            씨엑스아이   FS  코스닥
1740     900250          크리스탈신소재   FS  코스닥
1741     900070           글로벌에스엠   FS  코스닥
1742     900100             애머릿지   FS  코스닥

[4083 rows x 4 columns]

In [18]:
# 관심있는 종목 코드 출력

# TODO: print stocks related to 삼성 계열사

         단축코드                          한글명 그룹코드   시장
142    000810                         삼성화재   ST  코스피
143    000815                        삼성화재우   ST  코스피
175    001360                         삼성제약   ST  코스피
389    005930                         삼성전자   ST  코스피
390    005935                        삼성전자우   ST  코스피
...       ...                          ...  ...  ...
2107  Q530023  삼성 레버리지 China A50 선물 ETN(H)   EN  코스피
1600   425290                       삼성스팩6호   ST  코스닥
1623   439250                       삼성스팩7호   ST  코스닥
1653   448740                       삼성스팩8호   ST  코스닥
1703   468510                       삼성스팩9호   ST  코스닥

[83 rows x 4 columns]

In [22]:
# TODO: 삼성전자 종목 코드 가져오기

        단축코드                 한글명 그룹코드   시장
389   005930                삼성전자   ST  코스피
390   005935               삼성전자우   ST  코스피
1644  448330  KODEX 삼성전자채권혼합Wise   EF  코스피

In [19]:
# TODO: 주권 종목만 가져오기

        단축코드         한글명 그룹코드   시장
95    000020        동화약품   ST  코스피
96    000040       KR모터스   ST  코스피
97    000050          경방   ST  코스피
98    000070       삼양홀딩스   ST  코스피
99    000075      삼양홀딩스우   ST  코스피
...      ...         ...  ...  ...
1725  477760   DB금융스팩12호   ST  코스닥
1726  478110    이베스트스팩6호   ST  코스닥
1727  478390    KB제29호스팩   ST  코스닥
1728  478440  미래에셋비전스팩6호   ST  코스닥
1729  479880    한국제15호스팩   ST  코스닥

[2649 rows x 4 columns]

### kosdaq & kospi 상세 정보조회

```python
broker.fetch_kospi_symbols()
broker.fetch_kosdaq_symbols()
```
- 둘다 pandas dataframe으로 반환

In [23]:
# kospi
# TODO: 코스피 종목 가져오기
kospi.head()

,단축코드,표준코드,한글명,그룹코드,시가총액규모,지수업종대분류,지수업종중분류,지수업종소분류,제조업,저유동성,...,영업이익,경상이익,당기순이익,ROE,기준년월,시가총액,그룹사코드,회사신용한도초과,담보대출가능,대주가능
0,F70100001,KR5701000014,한투글로벌신성장2호(A),BC,NaN,0,0,0,N,N,...,0,0,0,0.0,NaN,198,NaN,N,N,N
1,F70100002,KR5701000022,한투글로벌신성장1호(A),BC,NaN,0,0,0,N,N,...,0,0,0,0.0,NaN,413,NaN,N,N,N
2,F70100003,KR5701000030,한투글로벌신성장1호(A-e),BC,NaN,0,0,0,N,N,...,0,0,0,0.0,NaN,43,NaN,N,N,N
3,F70100004,KR5701000048,한투글로벌신성장2호(A-e),BC,NaN,0,0,0,N,N,...,0,0,0,0.0,NaN,255,NaN,N,N,N
4,F70100005,KR5701000055,한투글로벌AI빅테크1호(A),BC,NaN,0,0,0,N,N,...,0,0,0,0.0,NaN,342,NaN,N,N,N

In [24]:
# kosdaq
# TODO: 코스닥 종목 가져오기
kosdaq.head()

,단축코드,표준코드,한글명,그룹코드,시가총액규모,지수업종대분류,지수업종중분류,지수업종소분류,벤처기업,저유동성,...,영업이익,경상이익,당기순이익,ROE,기준년월,시가총액,그룹사코드,회사신용한도초과,담보대출가능,대주가능
0,900110,HK0000057197,이스트아시아홀딩스,FS,NaN,0,0,0,N,N,...,1,6,3,0,20240331.0,375,NaN,N,N,N
1,900270,HK0000214814,헝셩그룹,FS,NaN,0,0,0,N,N,...,-2,0,1,0,20240331.0,414,NaN,N,N,N
2,900260,HK0000295359,로스웰,FS,NaN,0,0,0,N,N,...,88,111,99,18,20240331.0,282,NaN,N,N,N
3,900290,HK0000307485,GRT,FS,NaN,0,0,0,NaN,N,...,1084,990,829,12,20240331.0,2257,NaN,N,N,N
4,900300,HK0000312568,오가닉티코스메틱,FS,NaN,0,0,0,NaN,N,...,-76,-77,-77,-12,20240331.0,372,NaN,N,N,N

## 주식 종목 코드로 주식 정보 가져오기
함수:
```python 
    fetch_price(string symbol)
```

- symbol: 주식 종목 코드
- ret val: 해당 주식에 대한 dictionary (이중 dictionary)

In [3]:
samsung =  # TODO: 삼성전자 종목 정보 가져오기
print(samsung) # 종목 정보 출력

{'output': {'iscd_stat_cls_code': '55', 'marg_rate': '20.00', 'rprs_mrkt_kor_name': 'KOSPI200', 'bstp_kor_isnm': '전기.전자', 'temp_stop_yn': 'N', 'oprc_rang_cont_yn': 'N', 'clpr_rang_cont_yn': 'N', 'crdt_able_yn': 'Y', 'grmn_rate_cls_code': '40', 'elw_pblc_yn': 'Y', 'stck_prpr': '87600', 'prdy_vrss': '900', 'prdy_vrss_sign': '2', 'prdy_ctrt': '1.04', 'acml_tr_pbmn': '1286255204400', 'acml_vol': '14711853', 'prdy_vrss_vol_rate': '58.40', 'stck_oprc': '86900', 'stck_hgpr': '88000', 'stck_lwpr': '86700', 'stck_mxpr': '112700', 'stck_llam': '60700', 'stck_sdpr': '86700', 'wghn_avrg_stck_prc': '87430.13', 'hts_frgn_ehrt': '56.48', 'frgn_ntby_qty': '0', 'pgtr_ntby_qty': '-45402', 'pvt_scnd_dmrs_prc': '89233', 'pvt_frst_dmrs_prc': '87966', 'pvt_pont_val': '86033', 'pvt_frst_dmsp_prc': '84766', 'pvt_scnd_dmsp_prc': '82833', 'dmrs_val': '88600', 'dmsp_val': '85400', 'cpfn': '7780', 'rstc_wdth_prc': '26000', 'stck_fcam': '100', 'stck_sspr': '67620', 'aspr_unit': '100', 'hts_deal_qty_unit_val': '1', 'lstn_stcn': '5969782550', 'hts_avls': '5229530', 'per': '41.11', 'pbr': '1.68', 'stac_month': '12', 'vol_tnrt': '0.25', 'eps': '2131.00', 'bps': '52002.00', 'd250_hgpr': '88800', 'd250_hgpr_date': '20240711', 'd250_hgpr_vrss_prpr_rate': '-1.35', 'd250_lwpr': '65800', 'd250_lwpr_date': '20230818', 'd250_lwpr_vrss_prpr_rate': '33.13', 'stck_dryy_hgpr': '88800', 'dryy_hgpr_vrss_prpr_rate': '-1.35', 'dryy_hgpr_date': '20240711', 'stck_dryy_lwpr': '70700', 'dryy_lwpr_vrss_prpr_rate': '23.90', 'dryy_lwpr_date': '20240118', 'w52_hgpr': '88800', 'w52_hgpr_vrss_prpr_ctrt': '-1.35', 'w52_hgpr_date': '20240711', 'w52_lwpr': '65800', 'w52_lwpr_vrss_prpr_ctrt': '33.13', 'w52_lwpr_date': '20230818', 'whol_loan_rmnd_rate': '0.12', 'ssts_yn': 'N', 'stck_shrn_iscd': '005930', 'fcam_cnnm': '100', 'cpfn_cnnm': '7,780 억', 'frgn_hldn_qty': '3371438352', 'vi_cls_code': 'N', 'ovtm_vi_cls_code': 'N', 'last_ssts_cntg_qty': '1350', 'invt_caful_yn': 'N', 'mrkt_warn_cls_code': '00', 'short_over_yn': 'N', 'sltr_yn': 'N'}, 'rt_cd': '0', 'msg_cd': 'MCA00000', 'msg1': '정상처리 되었습니다.'}

In [5]:
# 여러 종목 정보 가져오기
codes = ['005930', '000660', '035420', '051910', '207940'] # 삼성전자, SK하이닉스, 네이버, LG화학, 삼성바이오로직스

for code in codes:
    pass # TODO: 종목 정보 출력

{'output': {'iscd_stat_cls_code': '55', 'marg_rate': '20.00', 'rprs_mrkt_kor_name': 'KOSPI200', 'bstp_kor_isnm': '전기.전자', 'temp_stop_yn': 'N', 'oprc_rang_cont_yn': 'N', 'clpr_rang_cont_yn': 'N', 'crdt_able_yn': 'Y', 'grmn_rate_cls_code': '40', 'elw_pblc_yn': 'Y', 'stck_prpr': '87600', 'prdy_vrss': '900', 'prdy_vrss_sign': '2', 'prdy_ctrt': '1.04', 'acml_tr_pbmn': '1301943352700', 'acml_vol': '14890958', 'prdy_vrss_vol_rate': '59.11', 'stck_oprc': '86900', 'stck_hgpr': '88000', 'stck_lwpr': '86700', 'stck_mxpr': '112700', 'stck_llam': '60700', 'stck_sdpr': '86700', 'wghn_avrg_stck_prc': '87432.08', 'hts_frgn_ehrt': '56.48', 'frgn_ntby_qty': '0', 'pgtr_ntby_qty': '-59377', 'pvt_scnd_dmrs_prc': '89233', 'pvt_frst_dmrs_prc': '87966', 'pvt_pont_val': '86033', 'pvt_frst_dmsp_prc': '84766', 'pvt_scnd_dmsp_prc': '82833', 'dmrs_val': '88600', 'dmsp_val': '85400', 'cpfn': '7780', 'rstc_wdth_prc': '26000', 'stck_fcam': '100', 'stck_sspr': '67620', 'aspr_unit': '100', 'hts_deal_qty_unit_val': '1', 'lstn_stcn': '5969782550', 'hts_avls': '5229530', 'per': '41.11', 'pbr': '1.68', 'stac_month': '12', 'vol_tnrt': '0.25', 'eps': '2131.00', 'bps': '52002.00', 'd250_hgpr': '88800', 'd250_hgpr_date': '20240711', 'd250_hgpr_vrss_prpr_rate': '-1.35', 'd250_lwpr': '65800', 'd250_lwpr_date': '20230818', 'd250_lwpr_vrss_prpr_rate': '33.13', 'stck_dryy_hgpr': '88800', 'dryy_hgpr_vrss_prpr_rate': '-1.35', 'dryy_hgpr_date': '20240711', 'stck_dryy_lwpr': '70700', 'dryy_lwpr_vrss_prpr_rate': '23.90', 'dryy_lwpr_date': '20240118', 'w52_hgpr': '88800', 'w52_hgpr_vrss_prpr_ctrt': '-1.35', 'w52_hgpr_date': '20240711', 'w52_lwpr': '65800', 'w52_lwpr_vrss_prpr_ctrt': '33.13', 'w52_lwpr_date': '20230818', 'whol_loan_rmnd_rate': '0.12', 'ssts_yn': 'N', 'stck_shrn_iscd': '005930', 'fcam_cnnm': '100', 'cpfn_cnnm': '7,780 억', 'frgn_hldn_qty': '3371438352', 'vi_cls_code': 'N', 'ovtm_vi_cls_code': 'N', 'last_ssts_cntg_qty': '1350', 'invt_caful_yn': 'N', 'mrkt_warn_cls_code': '00', 'short_over_yn': 'N', 'sltr_yn': 'N'}, 'rt_cd': '0', 'msg_cd': 'MCA00000', 'msg1': '정상처리 되었습니다.'}
{'output': {'iscd_stat_cls_code': '55', 'marg_rate': '40.00', 'rprs_mrkt_kor_name': 'KOSPI200', 'bstp_kor_isnm': '전기.전자', 'temp_stop_yn': 'N', 'oprc_rang_cont_yn': 'N', 'clpr_rang_cont_yn': 'N', 'crdt_able_yn': 'Y', 'grmn_rate_cls_code': '40', 'elw_pblc_yn': 'Y', 'stck_prpr': '234000', 'prdy_vrss': '4000', 'prdy_vrss_sign': '2', 'prdy_ctrt': '1.74', 'acml_tr_pbmn': '813321201500', 'acml_vol': '3528496', 'prdy_vrss_vol_rate': '106.88', 'stck_oprc': '226500', 'stck_hgpr': '235000', 'stck_lwpr': '224000', 'stck_mxpr': '299000', 'stck_llam': '161000', 'stck_sdpr': '230000', 'wghn_avrg_stck_prc': '230501.24', 'hts_frgn_ehrt': '56.01', 'frgn_ntby_qty': '0', 'pgtr_ntby_qty': '-13690', 'pvt_scnd_dmrs_prc': '239666', 'pvt_frst_dmrs_prc': '234832', 'pvt_pont_val': '230666', 'pvt_frst_dmsp_prc': '225832', 'pvt_scnd_dmsp_prc': '221666', 'dmrs_val': '232750', 'dmsp_val': '223750', 'cpfn': '36577', 'rstc_wdth_prc': '69000', 'stck_fcam': '5000', 'stck_sspr': '179400', 'aspr_unit': '500', 'hts_deal_qty_unit_val': '1', 'lstn_stcn': '728002365', 'hts_avls': '1703526', 'per': '-18.69', 'pbr': '3.05', 'stac_month': '12', 'vol_tnrt': '0.48', 'eps': '-12517.00', 'bps': '76616.00', 'd250_hgpr': '248500', 'd250_hgpr_date': '20240711', 'd250_hgpr_vrss_prpr_rate': '-5.84', 'd250_lwpr': '109700', 'd250_lwpr_date': '20230710', 'd250_lwpr_vrss_prpr_rate': '113.31', 'stck_dryy_hgpr': '248500', 'dryy_hgpr_vrss_prpr_rate': '-5.84', 'dryy_hgpr_date': '20240711', 'stck_dryy_lwpr': '129000', 'dryy_lwpr_vrss_prpr_rate': '81.40', 'dryy_lwpr_date': '20240117', 'w52_hgpr': '248500', 'w52_hgpr_vrss_prpr_ctrt': '-5.84', 'w52_hgpr_date': '20240711', 'w52_lwpr': '111300', 'w52_lwpr_vrss_prpr_ctrt': '110.24', 'w52_lwpr_date': '20230726', 'whol_loan_rmnd_rate': '0.21', 'ssts_yn': 'N', 'stck_shrn_iscd': '000660', 'fcam_cnnm': '5,000', 'cpfn_cnnm': '36,576 억', 'frgn_hldn_qty': '407755813', 'vi_cls_code': 'N', 'ovtm_vi_cls_code': 'N', 'last_ssts_cntg_qty': '362', 'invt_caful_yn': 'N', 'mrkt_warn_cls_code': '00', 'short_over_yn': 'N', 'sltr_yn': 'N'}, 'rt_cd': '0', 'msg_cd': 'MCA00000', 'msg1': '정상처리 되었습니다.'}
{'output': {'iscd_stat_cls_code': '55', 'marg_rate': '20.00', 'rprs_mrkt_kor_name': 'KOSPI200', 'bstp_kor_isnm': '서비스업', 'temp_stop_yn': 'N', 'oprc_rang_cont_yn': 'N', 'clpr_rang_cont_yn': 'N', 'crdt_able_yn': 'Y', 'grmn_rate_cls_code': '40', 'elw_pblc_yn': 'Y', 'stck_prpr': '171600', 'prdy_vrss': '-4700', 'prdy_vrss_sign': '5', 'prdy_ctrt': '-2.67', 'acml_tr_pbmn': '128583815300', 'acml_vol': '744848', 'prdy_vrss_vol_rate': '80.46', 'stck_oprc': '175600', 'stck_hgpr': '176200', 'stck_lwpr': '171100', 'stck_mxpr': '229000', 'stck_llam': '123500', 'stck_sdpr': '176300', 'wghn_avrg_stck_prc': '172626.48', 'hts_frgn_ehrt': '43.91', 'frgn_ntby_qty': '0', 'pgtr_ntby_qty': '-84467', 'pvt_scnd_dmrs_prc': '182100', 'pvt_frst_dmrs_prc': '179200', 'pvt_pont_val': '177600', 'pvt_frst_dmsp_prc': '174700', 'pvt_scnd_dmsp_prc': '173100', 'dmrs_val': '178400', 'dmsp_val': '173900', 'cpfn': '165', 'rstc_wdth_prc': '52700', 'stck_fcam': '100', 'stck_sspr': '133980', 'aspr_unit': '100', 'hts_deal_qty_unit_val': '1', 'lstn_stcn': '162408594', 'hts_avls': '278693', 'per': '27.77', 'pbr': '1.16', 'stac_month': '12', 'vol_tnrt': '0.46', 'eps': '6180.00', 'bps': '148137.00', 'd250_hgpr': '241500', 'd250_hgpr_date': '20230807', 'd250_hgpr_vrss_prpr_rate': '-28.94', 'd250_lwpr': '159600', 'd250_lwpr_date': '20240702', 'd250_lwpr_vrss_prpr_rate': '7.52', 'stck_dryy_hgpr': '235500', 'dryy_hgpr_vrss_prpr_rate': '-27.13', 'dryy_hgpr_date': '20240116', 'stck_dryy_lwpr': '159600', 'dryy_lwpr_vrss_prpr_rate': '7.52', 'dryy_lwpr_date': '20240702', 'w52_hgpr': '241500', 'w52_hgpr_vrss_prpr_ctrt': '-28.94', 'w52_hgpr_date': '20230807', 'w52_lwpr': '159600', 'w52_lwpr_vrss_prpr_ctrt': '7.52', 'w52_lwpr_date': '20240702', 'whol_loan_rmnd_rate': '0.78', 'ssts_yn': 'N', 'stck_shrn_iscd': '035420', 'fcam_cnnm': '100', 'cpfn_cnnm': '164 억', 'frgn_hldn_qty': '71311455', 'vi_cls_code': 'N', 'ovtm_vi_cls_code': 'N', 'last_ssts_cntg_qty': '1924', 'invt_caful_yn': 'N', 'mrkt_warn_cls_code': '00', 'short_over_yn': 'N', 'sltr_yn': 'N'}, 'rt_cd': '0', 'msg_cd': 'MCA00000', 'msg1': '정상처리 되었습니다.'}
{'output': {'iscd_stat_cls_code': '55', 'marg_rate': '20.00', 'rprs_mrkt_kor_name': 'KOSPI200', 'bstp_kor_isnm': '화학', 'temp_stop_yn': 'N', 'oprc_rang_cont_yn': 'N', 'clpr_rang_cont_yn': 'N', 'crdt_able_yn': 'Y', 'grmn_rate_cls_code': '40', 'elw_pblc_yn': 'Y', 'stck_prpr': '342000', 'prdy_vrss': '-17000', 'prdy_vrss_sign': '5', 'prdy_ctrt': '-4.74', 'acml_tr_pbmn': '131681846000', 'acml_vol': '379236', 'prdy_vrss_vol_rate': '138.94', 'stck_oprc': '358000', 'stck_hgpr': '359000', 'stck_lwpr': '342000', 'stck_mxpr': '466500', 'stck_llam': '251500', 'stck_sdpr': '359000', 'wghn_avrg_stck_prc': '347228.91', 'hts_frgn_ehrt': '37.23', 'frgn_ntby_qty': '0', 'pgtr_ntby_qty': '-127844', 'pvt_scnd_dmrs_prc': '373000', 'pvt_frst_dmrs_prc': '366000', 'pvt_pont_val': '361500', 'pvt_frst_dmsp_prc': '354500', 'pvt_scnd_dmsp_prc': '350000', 'dmrs_val': '363750', 'dmsp_val': '352250', 'cpfn': '3530', 'rstc_wdth_prc': '107500', 'stck_fcam': '5000', 'stck_sspr': '265660', 'aspr_unit': '500', 'hts_deal_qty_unit_val': '1', 'lstn_stcn': '70592343', 'hts_avls': '241426', 'per': '20.01', 'pbr': '0.83', 'stac_month': '12', 'vol_tnrt': '0.54', 'eps': '17090.00', 'bps': '411247.00', 'd250_hgpr': '783000', 'd250_hgpr_date': '20230726', 'd250_hgpr_vrss_prpr_rate': '-56.32', 'd250_lwpr': '336500', 'd250_lwpr_date': '20240628', 'd250_lwpr_vrss_prpr_rate': '1.63', 'stck_dryy_hgpr': '520000', 'dryy_hgpr_vrss_prpr_rate': '-34.23', 'dryy_hgpr_date': '20240219', 'stck_dryy_lwpr': '336500', 'dryy_lwpr_vrss_prpr_rate': '1.63', 'dryy_lwpr_date': '20240628', 'w52_hgpr': '783000', 'w52_hgpr_vrss_prpr_ctrt': '-56.32', 'w52_hgpr_date': '20230726', 'w52_lwpr': '336500', 'w52_lwpr_vrss_prpr_ctrt': '1.63', 'w52_lwpr_date': '20240628', 'whol_loan_rmnd_rate': '0.61', 'ssts_yn': 'N', 'stck_shrn_iscd': '051910', 'fcam_cnnm': '5,000', 'cpfn_cnnm': '3,529 억', 'frgn_hldn_qty': '26281065', 'vi_cls_code': 'N', 'ovtm_vi_cls_code': 'N', 'last_ssts_cntg_qty': '6967', 'invt_caful_yn': 'N', 'mrkt_warn_cls_code': '00', 'short_over_yn': 'N', 'sltr_yn': 'N'}, 'rt_cd': '0', 'msg_cd': 'MCA00000', 'msg1': '정상처리 되었습니다.'}
{'output': {'iscd_stat_cls_code': '55', 'marg_rate': '20.00', 'rprs_mrkt_kor_name': 'KOSPI200', 'bstp_kor_isnm': '의약품', 'temp_stop_yn': 'N', 'oprc_rang_cont_yn': 'N', 'clpr_rang_cont_yn': 'N', 'crdt_able_yn': 'Y', 'grmn_rate_cls_code': '40', 'elw_pblc_yn': 'Y', 'stck_prpr': '821000', 'prdy_vrss': '2000', 'prdy_vrss_sign': '2', 'prdy_ctrt': '0.24', 'acml_tr_pbmn': '32626880000', 'acml_vol': '39792', 'prdy_vrss_vol_rate': '63.63', 'stck_oprc': '825000', 'stck_hgpr': '827000', 'stck_lwpr': '816000', 'stck_mxpr': '1064000', 'stck_llam': '574000', 'stck_sdpr': '819000', 'wghn_avrg_stck_prc': '819935.69', 'hts_frgn_ehrt': '12.24', 'frgn_ntby_qty': '0', 'pgtr_ntby_qty': '10204', 'pvt_scnd_dmrs_prc': '838333', 'pvt_frst_dmrs_prc': '828666', 'pvt_pont_val': '822333', 'pvt_frst_dmsp_prc': '812666', 'pvt_scnd_dmsp_prc': '806333', 'dmrs_val': '825500', 'dmsp_val': '809500', 'cpfn': '1779', 'rstc_wdth_prc': '245000', 'stck_fcam': '2500', 'stck_sspr': '638820', 'aspr_unit': '1000', 'hts_deal_qty_unit_val': '1', 'lstn_stcn': '71174000', 'hts_avls': '584339', 'per': '68.13', 'pbr': '5.94', 'stac_month': '12', 'vol_tnrt': '0.06', 'eps': '12051.00', 'bps': '138119.00', 'd250_hgpr': '880000', 'd250_hgpr_date': '20240318', 'd250_hgpr_vrss_prpr_rate': '-6.70', 'd250_lwpr': '668000', 'd250_lwpr_date': '20231004', 'd250_lwpr_vrss_prpr_rate': '22.90', 'stck_dryy_hgpr': '880000', 'dryy_hgpr_vrss_prpr_rate': '-6.70', 'dryy_hgpr_date': '20240318', 'stck_dryy_lwpr': '721000', 'dryy_lwpr_vrss_prpr_rate': '13.87', 'dryy_lwpr_date': '20240530', 'w52_hgpr': '880000', 'w52_hgpr_vrss_prpr_ctrt': '-6.70', 'w52_hgpr_date': '20240318', 'w52_lwpr': '668000', 'w52_lwpr_vrss_prpr_ctrt': '22.90', 'w52_lwpr_date': '20231004', 'whol_loan_rmnd_rate': '0.05', 'ssts_yn': 'N', 'stck_shrn_iscd': '207940', 'fcam_cnnm': '2,500', 'cpfn_cnnm': '1,779 억', 'frgn_hldn_qty': '8714056', 'vi_cls_code': 'N', 'ovtm_vi_cls_code': 'N', 'last_ssts_cntg_qty': '244', 'invt_caful_yn': 'N', 'mrkt_warn_cls_code': '00', 'short_over_yn': 'N', 'sltr_yn': 'N'}, 'rt_cd': '0', 'msg_cd': 'MCA00000', 'msg1': '정상처리 되었습니다.'}

In [13]:
# 내가 보고 싶은 내용만 뽑아오기

# 시가, 고가, 저가, 종가, 거래량, 거래대금 (API 참고)
print("주식 시가 :     ", )       # 주식시가
print("주식최고가 :     ", )       # 주식최고가
print("주식최저가 :     ", )       # 주식최저가
print("주식 현재가 :    ", )       # 주식 현재가
print("전일 대비율 :    ", )       # 전일 대비율

주식 시가 :      86900
주식최고가 :      88000
주식최저가 :      86700
주식 현재가 :     87600
전일 대비율 :     1.04

In [49]:
%%html
<style>
body, div, .rendered_html, .rendered_html pre, .rendered_html code {
    font-family: "Helvetica", cursive, sans-serif;  /* Change this to your desired font */
    font-size: 10pt;
}
.CodeMirror, .cm-s-ipython, .cm-s-ipython div, .cm-s-ipython pre {
    font-family: "d2Coding", cursive, sans-serif;  /* Change this to your desired font */
    font-size: 10pt;
}
</style>